* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1030px;
  margin: auto;
}

h1, h2 {
  margin: 0;
}

p {
  margin: 0;
}

@font-face {
  font-family: 'Roboto Light';
  src: url("fonts/Roboto-Light.eot");
  src: url("fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto-Light.woff") format("woff"), url("fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Black';
  src: url("Roboto-Black.eot");
  src: url("Roboto-Black.eot?#iefix") format("embedded-opentype"), url("Roboto-Black.woff") format("woff"), url("Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
}

.portfolio {
  padding: 25px 0;
  text-align: center;
}

.portfolio__title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 25px;
}

.portfolio__subtitle {
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 20px;
}

.portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.portfolio__item {
  width: 48%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  margin: 0.25rem;
}

.portfolio__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .4s ease-in-out;
}

.portfolio__overlay:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.portfolio__picture {
  display: block;
  position: relative;
  max-width: 576px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__link {
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 1;
  filter: alpha(opacity=0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 7px 14px;
  max-width: 110px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .portfolio__item {
    width: 100%;
    height: auto;
  }
  .portfolio__picture, .portfolio__overlay {
    width: 98%;
    max-width: 100%;
    margin: 0 auto;
  }
  .portfolio__picture {
    margin: 0 auto;
  }
  .portfolio__overlay {
    margin-left: 1%;
  }
}

@media screen and (max-width: 424px) {
  .portfolio {
    padding: 12.5px 0;
  }
  .portfolio__title {
    font-size: 28px;
    margin-bottom: 12.5px;
  }
  .portfolio__subtitle {
    font-size: 24px;
  }
}
/*# sourceMappingURL=style.css.map */